/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common styles */
:root{
    --body-background:#E5E5E5;
    --container-color: #fff;
    --players-title-color: #562EFF;
    --topblog-author-color: #562EFF;
    --latest-course-author-color:#ED6B4F;
    --time-left-color:#FF4A60;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-background);
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: var(--container-color);
    width: 870px;
    padding: 30px;  
}

/* top player section  */
.top-players{
    margin-bottom: 30px;
}
.players-title{
    color: var(--players-title-color);
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;

}
.player{
    display:flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
    
}